<% include ../common/header.ejs %>
<div class="container container-body">
    <div class="row" style="padding-top: 20px;">
        <div class="docs-left">
            <h3 class="menu-title" style="margin-top: 0px;">所有类目</h3>
            <ul class="nav nav-pills nav-stacked" style="margin: 5px 0px;">
                <% list.forEach(function(ls) { %>
                <li class="<%= ls.fd_serviceid == serviceid ? 'active' : '' %>">
                    <a href="/msg/db/<%= ls.fd_serviceid %>"><%= ls.fd_name %></a>
                </li>
                <% }) %>
            </ul>
        </div>
        <div class="docs-right apis-list">
            <div class="mtl">
                <h3 class="mtl-main" style="margin-top: 0px;"><%= servicename %></h3>
                <!--<p class="mtl-desc">提供了用户基本信息查询功能-->
                <!--</p>-->
            </div>
            <table class="table table-bordered table-hover api-table">
                <thead>
                <tr>
                    <td width="35%">消息列表</td><td width="15%">类型</td><td width="50%">描述</td>
                </tr>
                </thead>
                <tbody>
                <% msgs.forEach(function(msg) { %>
                <tr>
                    <td><a href="/msg/detail/<%= msg.fd_serviceid %>?servicename=<%= servicename %>&msgname=<%= msg.fd_name %>" style="cursor: pointer;"><%= msg.fd_name %></a></td>
                    <td>
                        <% if(msg.fd_from == 1){%>
                            商派
                        <% } %>
                    </td>
                    <td>
                        <%= msg.fd_description %>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>

<script type="text/javascript">
    $(function () {

    });
</script>